<!DOCTYPE html>
<html>
  <head>
    <title>WhilomHalls</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title" content="Whilom Halls">
<meta property="og:description" content="Book the stay of your dreams in a place of the past.">
<meta property="og:image" content="https://user-images.githubusercontent.com/35855017/89833661-6b65c900-db2f-11ea-9c2c-66f5c7dabd2a.png">
<meta property="og:url" content="https://whilom-halls.herokuapp.com/">
<meta name="twitter:card" content="whilom_Halls_image">
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}" %>
      <%# <script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"
  type="text/javascript"></script> %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
